.menu-bg {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/menu-bg.jpg?alt=media&token=cf785912-21dd-4fda-85c8-c2b6a24a2528");
}

.forest-clearing {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/forest-clearing.jpg?alt=media&token=d7869c2b-b261-4b9c-816f-3193e9bdd330");
}

.bedroom {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/bedroom.jpg?alt=media&token=48164125-aee1-44e9-ace1-f57797e428f4");
}

.dark-room {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/main_menu.jpg?alt=media&token=38f6bf95-137a-43ea-bd5c-5caf103672ff");
}

.dark-room-scary {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/dark_room_scary.jpg?alt=media&token=4dba3493-d68c-47db-9067-5cd817dab3e6");
}

.dark-void {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/dark_void.jpg?alt=media&token=c220fbe4-1351-40bb-a614-821f61cb9956");
}

.stars {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/stars.jpg?alt=media&token=c2c85e5a-3670-40b2-b04b-7e30ecf19ddd");
}

.underwater {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/three-kings-game.appspot.com/o/underwater.jpg?alt=media&token=abe1fb59-3e49-4d7a-8dbc-7cb8cfcc95b9");
}
