
.forest-clearing {
  background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/forest-clearing.jpg");
}

.bedroom {
  background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/bedroom.jpg");
}

.dark-room {
  background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/main_menu.jpg");
}

.dark-room-scary {
  background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/dark_room_scary.jpg");
}

.dark-void {
  background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/dark_void.jpg");
}
