$white: #fff;
$black: #000;
$pink: #f9c0df;
$transparentBlack: rgba(0, 0, 0, 0.85);
$transparentWhite: rgba(255, 255, 255, 0.10);

@mixin no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

@mixin pop-up {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Section: HTML Elements */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $black;
  color: $white;
  font-family: monospace;
  overflow: hidden;
}

button {
  color: $white;
  font-family: monospace;
  padding: 1vh 2vw;
  border: 2px solid $white;
  border-radius: 5px;
  background: none;
  font-size: 2vw;
  margin-top: 1vh;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $white;
    color: $black;
    cursor: pointer;
  }
}


iframe {
  display: none;
}

/* Section: General Styling */

.hidden {
  visibility: hidden;
}

.hidden-text {
  visibility: hidden;
  font-size: 1.5vw;
  margin-top: 1vh;
}

.pop-up-text {
  bottom: 0;
  font-size: 1.5vw;
  margin-top: 1vh;
  text-align: center;
}

#background-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

/* Section: Side Bar */

#menu-container {
  width: 15vw;
  position: fixed;
  right: 1vw; top: 2vh;
  text-align: center;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  z-index: -1;

  @include no-select;
}

#menu-arrow-button {
  border: none;
  color: $white;
  cursor: pointer;
}

#menu-bar{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  width: 15vw;
  position: relative;
}

/* Section: Main Menu */

#main-menu {
  margin-top: 20vh;
  font-size: 3.5vw;
  text-align: center;
  text-shadow: 1px 1px $black; 

  @include no-select;

  button {
    margin: 1vw;
  }

  span {
    cursor: pointer;
  }
}

.blinking {
  margin-top: 15vh;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/* Section: Special Components */

/* 1. Quit/Load/Save Screen */

#quit-screen {
  text-align: center;
  background-color: $transparentBlack;
  padding-top: 30vh;

  @include no-select;
  @include pop-up;

  button {
    width: 10vw;
    margin: 1vw;
  }

  h3 {
    font-size: 4vw;
  }

  p {
    font-size: 2vw;
  }
}

/* 2. Set Username */
#set-username {
  padding-top: 30vh;
  padding-left: 12vw;
  background-color: $black;
  font-size: 5vw;

  @include no-select;
  @include pop-up;

  input {
    color: $white;
    font-family: monospace;
    z-index: 1;
    background: none;
    border: none;
    border-bottom: 3px solid $white;
    cursor: default;
    font-size: 5vw;
    width: 30vw;

    &:focus {
      outline: none;
    }
  }
}

/* 3. Show Instructions */

#show-instructions {
  background-color: $black;
  color: $white;
  text-align: center;

  @include pop-up;

  h1 {
    font-size: 5vw;
  }

  p {
    padding: 0 5vw;
    font-size: 3vw;
  }

  span {
    font-weight: bold;
  }
}

/* 4. Show Answers */

#answer-container {
  background-color: $black;
  text-align: center;
  padding-top: 25vh;

  @include no-select;
  @include pop-up;

  div {
    margin-bottom: 5vh;
  }

  button {
    min-height: 8vh;
    min-width: 15vw;
    font-size: 3.5vw;
  }
}

/* Section: Text container styles */

.main-text-container {
  font-size: 2.5vw;
  position: fixed;
  bottom: 10vh; left: 10vw;
  z-index: 0;

  @include no-select;

  div {
    border: 3px solid $white;
    border-radius: 5px;
    text-shadow: 2px 2px $black;

    &:first-child {
      font-size: 2.5vw;
      text-align: center;
      line-height: 1vh;
      margin-bottom: 1vh;
      padding: 20px 20px 10px 20px;
      height: 2vh;
      width: 20vw;
    }

    &:last-child {
      line-height: 6vh;
      padding: 20px 20px;
      height: 25vh;
      width: 75vw;
    }
  }

}

/* Section: Text Container Styles for each character */

.Jinghua {
  div{
    border: 3px solid $pink;
    color: $pink;
    background: $transparentWhite;
  }
}

.Queen {
  div{
    border: 3px solid $white;
    color: $white;
    background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/hearts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
  }
}

.Fool {
  div{
    border: 3px solid $white;
    color: $white;
    background-image: url("https://s3.us-east-2.amazonaws.com/three-kings/black_hearts.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
  }
}
